

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 3em 0;
  padding: 0;
}

.outer {
  margin: 0 auto;
  max-width: 480px;
}


/* button stuff added from js fiddle*/
/* button stuff added from js fiddle*/
/* button stuff added from js fiddle*/
/* button stuff added from js fiddle*/
/* tryna get hover*/


B_art:hover { 
    background-color: yellow;
}
a:hover { 
    background-color: yellow;
}

img{
    background:none;
}

img:hover{
    background: yellow;
}


a img.thumb-image:hover {
  background-color: yellow;
  opacity: 0.6;
}

img:hover 
{
    top: 25px;  
}

.round-button {
  width:25%;
}
.round-button-circle {
  width: 100%;
  height:0;
  padding-bottom: 100%;
    border-radius: 50%;
  border:10px solid #cfdcec;
    overflow:hidden;
    
    background: #4679BD; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
  background:#30588e;
}
.round-button a {
    display:block;
  float:left;
  width:100%;
  padding-top:50%;
    padding-bottom:50%;
  line-height:1em;
  margin-top:-0.5em;
    
  text-align:center;
  color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}
/* button stuff added from js fiddle*/
/* button stuff added from js fiddle*/
/* button stuff added from js fiddle*/


.logo {
  background: url('https://s-media-cache-ak0.pinimg.com/736x/a5/3c/cb/a53ccbe395e980fbe26f107628d476e2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 8.5em;
  margin: 0 auto .75em;
  width: 20.5em;
}

.title {
  /*font-family: 'Source Sans Pro', 'Copperplate', Copperplate, Arial, sans-serif;*/
  font-size: 2em;
  font-weight: 1000;
  letter-spacing: .2em;
  margin: 0 0 .25em;
  text-align: center;
  text-indent: .3em;
  /*text-transform: uppercase;*/
}

.subtitle {
  color: #999;
  font-size: .875em;
  margin-bottom: 2em;
  text-align: center;
}

  .player:hover {
    background-color: inherit;
  }

  .player.selected:hover {
    background-color: #fefff4;
  }
}